<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.flc"/>

    <!--属性注入-->
    <bean id="stu" class="com.flc.bean.Student" primary="true">
        <property name="sName" value="michael"/>
        <property name="sNo" value="20103259"/>
    </bean>

    <bean id="kClass" class="com.flc.bean.Class">
        <constructor-arg name="classNo" value="251"/>
        <constructor-arg name="className" value="信息安全1班"/>
    </bean>

    <bean id="school" class="com.flc.bean.School">
        <property name="classList">
            <list>
                <ref bean="kClass"/>
            </list>
        </property>
        <property name="no" value="123456"/>
        <property name="name" value="皋兰一中"/>
    </bean>
</beans>