<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.flc"/>

    <bean id="stu1" class="com.flc.bean.Student" >
        <constructor-arg index="0" value="20103259"/>
        <constructor-arg index="1" value="flc"/>
    </bean>

    <bean id="stu2" class="com.flc.bean.Student" primary="true">
        <property name="sName" value="michael"/>
        <property name="sNo" value="20103259"/>
    </bean>

    <bean id="kClass" class="com.flc.bean.Class">
        <property name="classNo" value="2010251"/>
        <property name="className" value="信息安全"/>
        <property name="classes">
            <list>
                <ref bean="stu1"/>
                <ref bean="stu2"/>
            </list>
        </property>
    </bean>

</beans>