# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\java训练营\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/libraries/Maven__org_apache_commons_commons_lang3_3_8_1.xml
