# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\java训练营\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
